<footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                   <div class="full">
                      <div class="logo_footer">
                        <a href="#"><img width="210" src="~/images/logo.png" alt="#" /></a>
                      </div>
                      <div class="information_f">
                        <p><strong>ADDRESS:</strong> ITI, Assiut</p>
                        <p><strong>TELEPHONE:</strong> +20 1234 456 789</p>
                        <p><strong>EMAIL:</strong> abc@gmail.com</p>
                      </div>
                   </div>
               </div>
               <div class="col-md-8">
                  <div class="row">
                  <div class="col-md-7">
                     <div class="row">
                        <div class="col-md-6">
                     <div class="widget_menu">
                        <h3>Menu</h3>
                        <ul>
                           <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                           <li><a asp-action="Index" asp-controller="About">About</a></li>
                           <li><a asp-action="Index" asp-controller="Contact">Contact</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="widget_menu">
                        <h3>Account</h3>
                        <ul>
                           
                           <li><a asp-action="Login" asp-controller="Account">Login</a></li>
                           <li><a asp-action="Register" asp-controller="Account">Register</a></li>
                           <li><a asp-action="Index" asp-controller="Product">Shopping</a></li>
                           
                        </ul>
                     </div>
                  </div>
                     </div>
                  </div>     
                  <div class="col-md-5">
                     <div class="widget_menu">
                        <h3>Newsletter</h3>
                        <div class="information_f">
                          <p>Subscribe by our newsletter and get update protidin.</p>
                        </div>
                        <div class="form_sub">
                           <form method="post">
                              <fieldset>
                                 <div class="field">
                                    <input type="email" placeholder="Enter Your Mail" required/>
                                    <input type="submit" value="Subscribe" />
                                 </div>
                              </fieldset>
                           </form>
                        </div>
                     </div>
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="cpy_">
         <p>© 2022 All Rights Reserved By MHM</p>
      </div>